.container {
	background-color: white;
	padding: 20px;
	text-align: center;
	font-family: Amatic SC;
}

.header {
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

.logo-img{
	height: 25%;
	width: 25%;
}

.center { 
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-family: Amatic SC;
}

.name {
	font-family: Amatic SC;
	font-weight: bolder;
	font-size: 175%;
}


.div-border {
	padding: 3px;
	text-align: center;
}

.anchor {
	margin: 6px 4px;
	padding: 20px;
}

.anchor:visited {
	color: black;
}

.anchor:link {
	color: black;
	text-decoration: none;
}

.anchor:hover {
	color: gray;
}

ul { 
	padding: 0;
	list-style: none;
	background: white;
}

ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

ul li a{
    display: block;
    padding: 8px 25px;
    color: black;
    text-decoration: none;
}

li a:hover {
	color: gray;
	background-color: white;
}


.dropdown{
	min-width: 100%;
    background: white;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown{
    display: block; 
}

.dropdown li{
    display: block;
}

.content1 {
	
	text-align: left;
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
}

.content2 {
	
	text-align: left;
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
	border-bottom: 2px solid black;
	padding: 5px;
}

.date {
	text-align: left;
	width: 100%;
	font-size: 200%;
}

.blog {
	text-align: center;
	width: 100%;
	font-size: 160%;
}

h3 {
	text-align: left;
	margin-top: -1%;
	font-weight: bold;
	font-size: 140%;

}

.p1 {
	text-align: left;
	width: 100%;
	margin-top: 20px;
	text-indent: 5%;
}


.couch {
	margin: 0 auto;
	width: 75%;
	margin-top: 20px;
}

.p2 {
	text-align: left;
	width: 100%;
	margin-top: 20px;
	text-indent: 5%;
}

.ollie {
	margin-right: 2px;
	width: 46%;
	margin-top: 20px;
	border: 1px solid black;
	text-align: center;
}

